.DS_Store
.idea
.vscode
*.local
*.log
.eslintcache
coverage
dist
dist-ssr
node_modules

# terraform
.terraform
*.tfstate
*.tfstate.*

# playwright
storageState.json
**/playwright-report/
/test-results/
/playwright-report/
/playwright/.cache/

# google sheet credential
/cli/translation/*.json

